
@section Styles{
    <style>
 
        .initialHeight{
            height:50px;
        }


        .travelComponent {
            display: flex;
            flex-direction: column;
            gap: 10px; /* 设置子元素之间的间隔，可根据需要调整 */
            padding: 10px; /* 设置父元素的内边距，使子元素与父元素之间有间隔 */
            border: 2px solid #000; /* 设置父元素的边框 */
            border-radius: 10px; /* 设置父元素的圆角 */
        }

        .travelComponent > div {
                padding: 5px; /* 设置子元素的内边距，使内容与子元素边框有一定的间隔 */
                border: 1px solid #000; /* 设置子元素的边框 */
                border-radius: 5px; /* 设置子元素的圆角 */
        }
    </style>
}

<hr />
<div id="AttractionListContainer">
    @await Component.InvokeAsync("SelectAttraction")
</div>
<hr />




<div class="row" style="min-height: 500px; height: auto;">
    
    <div class="col-6 border border-primary" style="min-height: 500px; height: auto;" id="schedule">
        <input type="date" id="travelStartDate" />
        <input type="time" id="travelStartTime" />


        <button id="createAttractionTimeSpanContainer">新增</button>
    </div>
    <div class="col-3" style="position:relative;">
        <div id="sortedAttractions" class="border border-primary" style="height:500px"></div>
        <button id="greedyTSP" style="position: absolute; bottom: -50px; left: 50%; transform: translateX(-50%);">推薦路線</button>
    </div>

    <di class="col-3" style="position:relative;">
        <div id="selectedAttractions" class="border border-primary" style="height:500px"></div>
        <button id="getInformations" style="position: absolute; bottom: -50px; left: 50%; transform: translateX(-50%);">取得距離資料</button>
    </di>

    
</div>






@section Scripts {
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    

    <script>

        let selectedAttraction = [];
        let coordinatesArray = [];
        let allData = [];
        let greedyResult = [];
        let attContainer = document.querySelector('#selectedAttractions');
        let visited = [];
        let selectedPath = [];
        const addAttBtns = document.querySelectorAll('.addAtt');



        function handleDoubleClick() {
            const id = this.id;
            const index = selectedAttraction.findIndex((element) => element.Id == id);
            if (index !== -1) {
                selectedAttraction.splice(index, 1);
                coordinatesArray.splice(index, 1);
            }
            this.remove();
        }





        for (let i = 0; i < addAttBtns.length; i++) {
            addAttBtns[i].addEventListener('click', function () {
                const positionX = this.getAttribute('data-positionX');
                const positionY = this.getAttribute('data-positionY');
                coordinatesArray.push({ lat: parseFloat(positionX), lng: parseFloat(positionY) });

                const attractionId = this.getAttribute('data-id');
                const attractionName = this.getAttribute('data-name');
                selectedAttraction.push({ Id: attractionId, Name: attractionName });

                const newAtt = document.createElement('div');
                newAtt.addEventListener('dblclick', handleDoubleClick)
                newAtt.textContent = attractionName;
                newAtt.classList.add('mb-3', 'rounded', 'text-center');
                newAtt.id = attractionId;
                newAtt.style.border = '1px solid #000';
                attContainer.appendChild(newAtt);
            });
        }















        function getTravelInformations() {
            axios.get('https://localhost:7251/api/TravelPlans')
                .then(function (response) {
                    const informations = response.data;
                    for(let i=0;i<informations.length;i++){
                        const startId = informations[i].start.id;
                        const endId = informations[i].end.id;
                        const startObj = selectedAttraction.find(item => item.Id == startId);
                        const endObj = selectedAttraction.find(item => item.Id == endId);


                        allData.push({
                            start: startObj,
                            end: endObj,
                            distance: informations[i].distance,
                            duration: informations[i].duration                         
                        })
                    }          
                })
                .catch(function (error) {
                    console.error('Error fetching travel plans:', error);
                });
        }




        function getShortestDistanceObject(distanceToEach) {
            if (distanceToEach.length === 0) {
                return undefined;
            }
            let shortestDistanceObject = distanceToEach[0];
            let shortestDistance = shortestDistanceObject.distance.value;

            for (let i = 1; i < distanceToEach.length; i++) {
                const currentObject = distanceToEach[i];
                const currentDistance = currentObject.distance.value;

                if (currentDistance < shortestDistance) {
                    shortestDistanceObject = currentObject;
                    shortestDistance = currentDistance;
                }
            }
            return shortestDistanceObject;
        }


        function getNextDistanceObject(distanceToEach, startPoint, visited) {
            if (distanceToEach.length === 0) {
                return undefined;
            }

            const objectsWithStartingPoint = distanceToEach.filter(obj => obj.start == startPoint);

            if (objectsWithStartingPoint.length == 0) {
                return undefined;
            }

            // Filter out objects whose destinations are already in "visited" array
            const unvisitedObjects = objectsWithStartingPoint.filter(obj => !visited.includes(obj.end));

            if (unvisitedObjects.length === 0) {
                return undefined;
            }

            let shortestDistanceObject = unvisitedObjects[0];
            let shortestDistance = shortestDistanceObject.distance.value;

            for (let i = 1; i < unvisitedObjects.length; i++) {
                const currentObject = unvisitedObjects[i];
                const currentDistance = currentObject.distance.value;

                if (currentDistance < shortestDistance) {
                    shortestDistanceObject = currentObject;
                    shortestDistance = currentDistance;
                }
            }
            return shortestDistanceObject;
        }
      


        document.querySelector("#getInformations").addEventListener('click',function(){
            getTravelInformations();
            console.log(allData);
            console.log(selectedAttraction)
        })





        function dragStartHandler(){
           
            console.log('666');
        }





        document.querySelector("#greedyTSP").addEventListener('click',function(){
            let unvisited = selectedAttraction.slice();
            let distanceToEach = allData.filter(x => x.distance.value !== 0);
            let sortedContainer = document.querySelector('#sortedAttractions');
            let newStart;


            while (unvisited.length > 0) {     
                console.log(unvisited)

                if (unvisited.length == selectedAttraction.length) {
                    let shortestObj = getShortestDistanceObject(distanceToEach);
                    console.log(shortestObj)
                    selectedPath.push(shortestObj);
           

                    let startIndex = unvisited.indexOf(shortestObj.start);
                    if (startIndex !== -1) {
                        unvisited.splice(startIndex, 1);
                        visited.push(shortestObj.start);

                    }

                    let endIndex = unvisited.indexOf(shortestObj.end);
                    if (endIndex !== -1) {
                        unvisited.splice(endIndex, 1);
                        visited.push(shortestObj.end);
                    }



                    newStart = shortestObj.end;
                    console.log('第一次')
                } else {
                    let shortestObj = getNextDistanceObject(distanceToEach, newStart, visited)
                    selectedPath.push(shortestObj);
                    let startIndex = unvisited.indexOf(shortestObj.start);
                    if (startIndex !== -1) {
                        unvisited.splice(startIndex, 1);
                        visited.push(shortestObj.start);
                    }

                    let endIndex = unvisited.indexOf(shortestObj.end);
                    if (endIndex !== -1) {
                        unvisited.splice(endIndex, 1);
                        visited.push(shortestObj.end);
                    }

                    newStart = shortestObj.end;
                    console.log('第二次')
                }

                if (unvisited.length === 0) {
                    break;
                }
            }

            for (i = 0; i < selectedPath.length; i++) {

                let newPath = document.createElement('div');
                let departure = document.createElement('div');
                let distance = document.createElement('div');
                let duration = document.createElement('div');
                let destination = document.createElement('div');




                
                departure.textContent = selectedPath[i].start.Name;
                departure.setAttribute('data-id', selectedPath[i].start.Id);
                departure.classList.add('draggable-container');
                departure.addEventListener('dragstart', dragStartHandler);



                distance.textContent = selectedPath[i].distance.text;
                distance.value = selectedPath[i].distance.value;
                duration.textContent = selectedPath[i].duration.text;
                duration.value = selectedPath[i].duration.value;



                destination.textContent = selectedPath[i].end.Name;
                destination.setAttribute('data-id', selectedPath[i].end.Id);


    
                if(i==0){
                    sortedContainer.appendChild(newPath);
                    newPath.appendChild(departure);
                    newPath.appendChild(distance);
                    newPath.appendChild(duration);
                    newPath.appendChild(destination);

                }else{
                    sortedContainer.appendChild(newPath);
                    newPath.appendChild(distance);
                    newPath.appendChild(duration);
                    newPath.appendChild(destination);
                }

            }
        })




        document.querySelector("#createAttractionTimeSpanContainer").addEventListener('click',function(){
            let travelComponent = document.createElement('div');
            travelComponent.classList.add('border', 'border-danger', 'mb-3', 'travelComponent','row')



            let attractionName=document.createElement('input');
            attractionName.type="text";
            attractionName.value="請拖入景點";
            let attractionActivities=document.createElement('div');
            attractionActivities.classList.add('border', 'border-primary', 'initialHeight','activitiesContainerOfAttraction','mb-1');




            let attractionExtraServices=document.createElement('div');
            attractionExtraServices.classList.add('border', 'border-primary', 'initialHeight','extraServicesContainerOfAttraction','mb-1');
            let labelForTimeSpent = document.createElement('label');
            labelForTimeSpent.classList.add('initialHeight')
            labelForTimeSpent.textContent = "停留期間";                 
            let startTime=document.createElement('input');
            startTime.type="time";
            let endTime=document.createElement('input');
            endTime.type="time";
            let dateTimeResult=document.createElement("input");
            dateTimeResult.type = "datetime-local";
            dateTimeResult.readOnly = true;




            travelComponent.appendChild(attractionName);
            travelComponent.appendChild(attractionActivities);
            travelComponent.appendChild(attractionExtraServices);
            travelComponent.appendChild(labelForTimeSpent);
            travelComponent.appendChild(startTime);
            travelComponent.appendChild(endTime);
            travelComponent.appendChild(dateTimeResult);



 
            this.parentNode.appendChild(travelComponent);
        })
    </script>




}
