@section Styles{

}
<div id="app">
    <input type="search" v-model="keyword"/>
    <div id="PackageToursContainer">
        @await Component.InvokeAsync("PackageToursSlideShow")
    </div>



    <table class="table">
        <thead>
            <tr>
                <th>項目名稱</th>
                <th>圖片預覽</th>
                <th>所在區域</th>
                <th>附屬景點</th>
                <th>項目說明</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in extraServiceDtoes">

                <td v-model>{{item.name}} </td>
                <td><img v-bind:src="item.image" style="height:200px;"/></td>
                <td v-model>{{item.regionName}} </td>
                <td v-model>{{item.attractionName}} </td>
                <td v-model> {{item.description}} </td>
                <td><button id="turnToPurchasingPage" class="btn btn-primary" @@click="showDetailsModal(item.id)">檢視詳細資料</button></td>
                <td><button id="turnToPurchasingPage" class="btn btn-primary" @@click="goToPurchasingPage(item.id)">前往購買</button></td>
            </tr>
        </tbody>
    </table>




    <div class="modal fade" id="ExtraServiceDetailModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
         aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">詳細資料</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label">FirstName:</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">LastName:</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Title:</label>
                        <input class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary" @@click="insert">新增</button>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts{
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>



   <script>
      let baseAddress = "https://localhost:7251";
      let  vueApp={
          data(){
              return{
                 extraServiceDtoes:[],
                 keyword:"",                 
            


              };
          },
          mounted :function(){
              let _this=this;

              _this.filterExtraServiceDtoes();
          },
          methods:{
              filterExtraServiceDtoes:function(){
                    let _this=this;
                    let request={};

                    request.Keyword=_this.keyword;

                    axios.post(`${baseAddress}/api/ExtraServiceVuePage/filter`,request).then(response=>{
                        _this.extraServiceDtoes=response.data;

                        for (let i = 0; i < _this.extraServiceDtoes.length;i++){
                            let item = _this.extraServiceDtoes[i];                            
                        }


                    }).catch(err=>{
                        alert(err);
                    })                   
              },
              showDetailsModal:function(id){
                  //modal改成詳細資料
                  console.log(id);
                   this.getExtraServiceDetails(id);
               $('#ExtraServiceDetailModal').modal("show");
              },
           
           
              getExtraServiceDetails:function(id){
                  //將modal資料內容改掉
                  console.log('再來啊!')
                  console.log(id)
              },
              goToPurchasingPage:function(itemId){
                    console.log('買起來')
                    let newUrl = '/ExtraServices/Details/'+itemId
                    window.location.href=newUrl;

                    //瀏覽器設定容易有問題
                    //window.open(newUrl, '_blank');
              },
          }
      };
      let app=Vue.createApp(vueApp).mount('#app');



   </script>
}