@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a id="CartDropDown" class="dropdown-toggle" data-toggle="dropdown">
    <span>購物車</span>
</a>
<ul class="dropdown-menu" role="menu" arial-labelledby="CartDropDown">
    <li id="cartItemsContainer">
        <div class="partial-view-container">
            @await Component.InvokeAsync("ExtraServicesDetails", new { cartid = 1 })
        </div>
    </li>
</ul>
