
<h1>heLLO WORLD</h1>

@section Scripts{
	<script>
		function ajaxForm(){
            const cate="行程";
            var commentid=1;
            var uri = "https://localhost:7145/FAQ/Search";
            fetch(uri,{
                method:"POST",
            }
            ).then(response=>{
                if (response.ok) {
                    return response.json();
                }
                else {
                    throw new Error('Network response was not ok');
                }
            })
            .then(data=>
                {
                   console.log(data);
                }

            ).catch(err=>{
                    alert(err);
            });
  
		}

        ajaxForm();
	</script>
}