@{
    var memberCookie = Context.Request.HttpContext;
    var imageCookieValue = memberCookie.User.FindFirst("memberImage");
    string imagePath = !string.IsNullOrEmpty(imageCookieValue?.Value) ? $"~/MemberUploads/{imageCookieValue.Value}" : "~/SystemImages/2c36c1ae24444c9d92c5d94e5c69ee91";
}

<style>
    .memberphoto img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        
    }
</style>


<div class="memberphoto position-absolute top-50 end-0 translate-middle-y">
        <img src="@Url.Content(imagePath)" alt="會員圖片" class="member-image" />
    </div>
    <div>
        

    </div>
