@model RouteMasterFrontend.Models.ViewModels.Members.MemberEditPasswordVM

@{
    ViewData["Title"] = "EditPassword";
}

<h1>修改密碼</h1>


<hr />
<div class="row">
    <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div >
                <label for="OldPassword" class="control-label">原始密碼</label>
                <input id="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div >
            <label for="NewPassword" class="control-label">新密碼</label>
                <input id="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div >
                <label for="ConfirmPassword" class="control-label">確認密碼</label>
                <input id="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div >           
            <button type="button" class="btn btn-danger" id="editPassword">更改密碼</button>
            </div>
    
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    
    document.querySelector('#editPassword').addEventListener('click', function () {
        var vm={
            OldPassword: $('#OldPassword').val(),
            NewPassword: $('#NewPassword').val(),
            ConfirmPassword: $('#ConfirmPassword').val()
        }

        $.ajax({
            type: "POST",
            data: JSON.stringify(vm),
            contentType: "application/json",
            url: "https://localhost:7145/Members/EditPassword",
        }).done(function (response) {             
            if (response.success) {
                alert("更改密碼成功");               
                console.log(response);
                var memberArea = $("#memberNavbar");
                memberArea.html("");
            } else {
                console.log(response.message);
                alert("更改密碼失败：" + response.message);
            }
        }).fail(function (error) {
            console.log("密碼錯誤", error);
            alert("密碼錯誤");
        });
    })
</script>
<script>
    
    var oldPasswordInput = document.getElementById("OldPassword");
    var newPasswordInput = document.getElementById("NewPassword");
    var confirmPasswordInput = document.getElementById("ConfirmPassword");
    var editPasswordButton = document.getElementById("editPassword");

    editPassword.addEventListener("click",function(){
        var newPassword = newPasswordInput.value;
        var confirmedPassword = confirmPasswordInput.value;

        if(newPassword === confirmedPassword)
        {
            console.log("密碼相符");
        }else
        {
            alert("確認密碼與新密碼不相符，請重新輸入");
        }
    });

</script>
