@model RouteMasterFrontend.Models.ViewModels.Members.MemberRegisterVM

@{
    ViewData["Title"] = "MemberRegister";
}

@section Styles{
    <style>
        .img-container 
        {
            display: flex; /* 將內容水平排列 */
            gap: 10px; /* 圖片之間的間距 */
        }

     
    </style>
}
<h1>MemberRegister</h1>

<h4>MemberRegisterVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MemberRegister" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellPhoneNumber" class="control-label"></label>
                <input asp-for="CellPhoneNumber" class="form-control" />
                <span asp-validation-for="CellPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" asp-for="Gender" value="false" /> 男生
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" asp-for="Gender" value="true" /> 女生
                </label>
            </div>
            <div class="gorm-group"> 
                <div class="form-check">
                    <input type="radio" id="radioA" name="option" value="A">上傳大頭貼<br>
                    <label class="form-check-label" for="flexRadioDefault1">
    
                    </label>
                </div>
                <div class="form-check">
                    <input type="radio" id="radioB" name="option" value="B">推薦大頭貼<br>
                    <label class="form-check-label" for="flexRadioDefault2">
                        
                    </label>
                </div>

            </div>
            <div class="form-group" id="divA" style="display: none;">
                <label asp-for="Image" class="control-label"></label>
                <span asp-validation-for="Image" class="text-danger"></span>
                <input type="file" name="facePhoto" id="facePhotoInput" multiple="multiple" accept="image/*" />
                <input type="hidden" id="imageNameInput" name="ImageName" value="" />              
            </div>

            <div id="divB" style="display: none;">
                <h3>RouteMaster精美大頭貼</h3>
                <li>
                    <label>
                        <input type="radio" name="selectedImage" value="2c36c1ae24444c9d92c5d94e5c69ee91.png" />
                        <img src="~/SystemImages/2c36c1ae24444c9d92c5d94e5c69ee91.png" class="default-image imgs" alt="預設圖片 1" width="100" height="100" />
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="selectedImage" value="30519bf58a6d4eefa1b9d6c55d2d2f45.png" />
                        <img src="~/SystemImages/30519bf58a6d4eefa1b9d6c55d2d2f45.png" class="default-image imgs" alt="預設圖片 2" width="100" height="100" />
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="selectedImage" value="4f411a319e2e4992a42db1e518238c7d.png" />
                        <img src="~/SystemImages/4f411a319e2e4992a42db1e518238c7d.png" class="default-image imgs" alt="預設圖片 3" width="100" height="100" />
                    </label>
                </li>
            </div>
            <input type="hidden" id="sysImg" name="Image" />

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSuscribe" /> @Html.DisplayNameFor(model => model.IsSuscribe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="註冊" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script>
        const radioA = document.getElementById("radioA");
        const divA = document.getElementById("divA");
        const radioB = document.getElementById("radioB");
        const divB = document.getElementById("divB");
        const fileInput = document.querySelector('input');

        radioA.addEventListener("click", function () {
            // 隱藏 Div B 並顯示 Div A
            divB.style.display = "none";
            divA.style.display = "block";

            facePhotoInput.disabled = false;
        });

        radioB.addEventListener("click", function () {
            // 隱藏 Div A 並顯示 Div B
            divA.style.display = "none";
            divB.style.display = "block";

            // 停用檔案輸入元素
            facePhotoInput.disabled = true;
            // 清除已選擇的檔案
            facePhotoInput.value = "";
            // 重設檔案輸入元素，以便再次選擇相同檔案時能觸發 change 事件
            facePhotoInput.type = "text";
            facePhotoInput.type = "file";

            
        });
</script>
        <script>
            // 在所有的radio input中加上點選事件
            $('input[name="selectedImage"]').click(function () {
                // 取得選取的radio圖片的src屬性
                var src = $(this).siblings('img.default-image').attr('src');

                // 處理檔名
                var nameAr = src.split('/');
                var fileName = nameAr[nameAr.length - 1];

                alert(fileName);
            $('#sysImg').val(fileName);
            });
    </script>
    
    }
