@model RouteMasterFrontend.Models.ViewModels.Members.MemberRegisterVM

@{
    ViewData["Title"] = "MemberRegister";
}

@section Styles{
    <style>
        .img-container 
        {
            display: flex; /* 將內容水平排列 */
            gap: 10px; /* 圖片之間的間距 */
        }

        .img-container img 
        {
            flex: 0 0 auto; /* 設置圖片不會縮放 */
        }
    </style>
}
<h1>MemberRegister</h1>

<h4>MemberRegisterVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MemberRegister" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellPhoneNumber" class="control-label"></label>
                <input asp-for="CellPhoneNumber" class="form-control" />
                <span asp-validation-for="CellPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gender" /> @Html.DisplayNameFor(model => model.Gender)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <span asp-validation-for="Image" class="text-danger"></span>
                <input type="file" name="facePhoto" multiple="multiple" accept="image/*" />
            </div>
            <div class="form-group">
                <label>推薦大頭貼：</label>
                <br />
                <ul>
                    <li><img src="~/SystemImages/2c36c1ae24444c9d92c5d94e5c69ee91.png" class="default-image" alt="預設圖片 1" width="100" height="100" /></li>
                    <li> <img src="~/SystemImages/30519bf58a6d4eefa1b9d6c55d2d2f45.png" alt="預設圖片 2" width="100" height="100" onclick="showimg" /></li>
                    <li><img src="~/SystemImages/4f411a319e2e4992a42db1e518238c7d.png" alt="預設圖片 3" width="100" height="100" /></li>
                    <li> <img src="~/SystemImages/7bf343bdbd7541eeb3f86f018be90ddc.png" alt="預設圖片 4" width="100" height="100" /></li>
                    <li> <img src="~/SystemImages/87df4dd9f26142008539267491e19a6c.png" alt="預設圖片 5" width="100" height="100" /></li>
                    <li> <img src="~/SystemImages/9084525302b3452586f74a65145cb389.png" alt="預設圖片 6" width="100" height="100" onclick="showimg" /></li>
                    <li><img src="~/SystemImages/ad1eddd31ad24334a5d3d1fed4356f0d.png" alt="預設圖片 7" width="100" height="100" /></li>
                    <li><img src="~/SystemImages/c00e1205eb4e459eb9bc7fa2bdc94e00.png" alt="預設圖片 8" width="100" height="100" /></li>
                    <li><img src="~/SystemImages/c447658e510242148b4a725840770885.png" alt="預設圖片 9" width="100" height="100" /></li>
                    <li><img src="~/SystemImages/ff288dbbf8d3484ca88b6b086af3f2ac.png" alt="預設圖片 10" width="100" height="100" onclick="showimg" /></li>
                </ul>
            </div>

            <input type="hidden" id="selectedDefaultImage" name="selectedDefaultImage" value="" />


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSuscribe" /> @Html.DisplayNameFor(model => model.IsSuscribe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="註冊" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        // 在使用者點擊預設圖片時，將所選預設圖片的標識設置為隱藏欄位的值
        $(document).ready(function () {
            $(".imgs").each().click(function () {
                var selectedImageSrc = $(this).attr("src");
                $("#selectedDefaultImage").val(selectedImageSrc);
            });
        });
    </script>

}
