@model RouteMasterFrontend.EFModels.Member

@{
    ViewData["Title"] = "MyMemberIndex";
}
@{
    var memberIdCookie = Context.Request.Cookies["Id"];

}



    <h4>會員中心</h4>
    <hr />
    <div class="row container">
        <div class="col-md-2">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid" >
                <button class="navbar-brand" data-number="0">會員資料</button>
            </div>
            </nav>
        <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                <button class="navbar-brand" data-number="1">歷史訂單</button>
            </div>
            </nav>
        <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                <button class="navbar-brand" data-number="2">更改密碼</button>
            </div>
            </nav>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-brand" data-number="3">訊息通知</button>
            </div>
        </nav>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-brand" data-number="4">最愛景點</button>
            </div>
        </nav>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-brand" data-number="5">我的行程</button>
            </div>
        </nav>

    </div>

        @*渲染nav*@

        <div class="col-md-8" id="memberNavbar">
        @await Component.InvokeAsync("MemberArea")

        </div>
       </div>

  

@section Scripts{

    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/ad2e9fef09.js" crossorigin="anonymous"></script>
    <script>
 
        var buttons = document.getElementsByTagName("button");

      
        //for (var i = 0; i < buttons.length; i++) {
        //    buttons[i].addEventListener("click", function () {
        //        var arg = this.getAttribute('data-number');
        //        console.log(arg);

        //        var request={};
        //        request.pagecase=arg;
        //        fetch("https://localhost:7145/Members/MembersNavbar", {
        //            method: "POST",
        //            headers: {
        //                "Content-Type": "application/json"
        //            },
        //            body: JSON.stringify(request)
        //        }).then(response => response.text()
        //                )
        //            .then(result => {
        //                console.log(result)
        //                var memberArea = document.querySelector("#memberNavbar");
             
        //                memberArea.innerHTML = result;
        //            })
        //            .catch(error => {
        //                console.log(error);
        //            });
        //            l
        //    });
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", function () {
                var arg = this.getAttribute('data-number');
                console.log(arg);
                $.ajax({
                    type: "post",
                    data: JSON.stringify({ pagecase: arg }),
                    contentType: "application/json",
                    url: "https://localhost:7145/Members/MembersNavbar",
                }).done(function (response) {

                    
                    var memberArea = $("#memberNavbar");
                    memberArea.html(response);
                }).fail(function (err) {
                    console.log('err')
                });
            });
        }
            
        

    </script>


}
