@model RouteMasterFrontend.EFModels.Member

@{
    ViewData["Title"] = "MyMemberIndex";
}
@{
    var memberIdCookie = Context.Request.Cookies["Id"];

}

<style>
   /* .col-md-2 {
        position:absolute;
        border-width: medium;
        border-style: double;
        border-color: gray;
        border-radius: 20px;
        padding:10px;     
        line-height:40px;
        background-color: #81C0C0;
        
    }

        .col-md-2 navbar{
            background-color:aliceblue;
        }
    .col-md-9{
        position:relative;
        border-width: medium;
        border-style: double;
        border-color: gray;
        border-radius: 20px;
        left:400px;
    }
*/
    
</style>


    <h4>會員中心</h4>
    <hr />
    <div class="row container">
        <div class="col-md-2">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid" >
                <button data-number="0" id="memberData">會員資料</button>
            </div>
            </nav>
        <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                <button id="1">歷史訂單</button>
            </div>
            </nav>
        <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                <button id="2">更改密碼</button>
            </div>
            </nav> 
        </div>

        @*渲染nav*@
        <div class="col-md-8">
            @await Component.InvokeAsync("MemberArea")      
        </div>
       </div>


@section Scripts{

    <script>
        var buttons = document.getElementsByTagName("button");
        buttons.click = function(){
            
        }
        var arg=document.querySelector('#memberData').getAttribute('data-number')

    </script>

}
