@model RouteMasterFrontend.EFModels.Member

@{
    ViewData["Title"] = "MyMemberIndex";
}
@{
    var memberIdCookie = Context.Request.Cookies["Id"];

}

<style>
   /* .col-md-2 {
        position:absolute;
        border-width: medium;
        border-style: double;
        border-color: gray;
        border-radius: 20px;
        padding:10px;     
        line-height:40px;
        background-color: #81C0C0;
        
    }

        .col-md-2 navbar{
            background-color:aliceblue;
        }
    .col-md-9{
        position:relative;
        border-width: medium;
        border-style: double;
        border-color: gray;
        border-radius: 20px;
        left:400px;
    }
*/
    
</style>


    <h4>會員中心</h4>
    <hr />
    <div class="row container">
        <div class="col-md-2">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid" >
                <button data-number="0">會員資料</button>
            </div>
            </nav>
        <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                <button data-number="1">歷史訂單</button>
            </div>
            </nav>
        <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                <button data-number="2">更改密碼</button>
            </div>
            </nav> 
        </div>

        @*渲染nav*@
        <div class="col-md-8" id="memberNavbar">
        @await Component.InvokeAsync("MemberArea")
        </div>
       </div>


@section Scripts{

    <script>
        //var arg = document.querySelector('#memberData').getAttribute('data-number')
        var buttons = document.getElementsByTagName("button");

        //console.log(buttons);
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", function () {
                var arg = this.getAttribute('data-number');
                console.log(arg);
            $.ajax({
                type:"post",
                data: JSON.stringify({ pagecase: arg }),
                contentType:"application/json",
                url: "https://localhost:7145/Members/MembersNavbar",
                }).done(function (response){
                    
                    var memberArea = $("#memberNavbar");
                    memberArea.html(response);
                }).fail(function(err){
                    console.log('err')
                });
            });
        }

    </script>

}
