<button class="btn btn-warning" onclick="getOrder()">查詢歷史訂單</button>

@section Scripts
{
    <script>
        function getOrder() {
            console.log("1321316")
            alert("getOrder");
    }
    </script>
}
    


