@{
    ViewData["Title"] = "結帳頁面";
}

<h2>結帳</h2>
@*
<button id="checkoutButton">前往結帳</button>

@section Scripts {
    <script>
        document.getElementById("checkoutButton").addEventListener("click", function () {
            var xhr = new XMLHttpRequest();
            xhr.open("Get", "/Carts/GetPaymentRedirectUrl", true); // 修改為實際的路由
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // 請求成功，處理後續動作（例如處理後端重定向 URL）
                        var response = JSON.parse(xhr.responseText);
                        window.location.href = response.redirectUrl; // 假設後端回傳了重定向的 URL
                    } else {
                        // 請求失敗，處理錯誤
                        console.error("請求失敗：" + xhr.status);
                    }
                }
            };
            xhr.send();
        });
    </script>
}*@