@{
    ViewData["Title"] = "結帳完成";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>結帳完成</h4>
                </div>
                <div class="card-body">
                    <p class="lead">感謝您的購買！您的訂單已成功提交。</p>
                    <p>我們將儘快處理您的訂單，您可以在「我的訂單」中查看訂單狀態。</p>

                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-4">返回首頁</a>
                </div>
            </div>
        </div>
    </div>
</div>