@model RouteMasterFrontend.Models.Dto.CartDetailDto

<style>

    .custom-container {
        background-color: white;
        padding: 10px;
        border: 1px solid white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .fixed-row-height tr {
        height: 100px;
    }

    .fixed-row-height thead th {
        font-weight: bold;
        font-size: 16px;
        color: darkgray;
    }


    .fixed-row-height tbody td,
    .fixed-row-height tbody th {
        border-color: lightgrey;
    }
</style>
<template>
    <div id="app">
        <div class="container custom-container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover fixed-row-height" style="vertical-align: middle; align-items: center;">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="align-middle text-center">名稱</th>
                                <th class="align-middle text-center">描述</th>
                                <th class="align-middle text-center">日期</th>
                                <th class="align-middle text-center">價格</th>
                                <th class="align-middle text-center">數量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="group in groupedExtraServices" :key="group.key.Id">
                                <td>
                                    <input type="checkbox" v-model="group.selected" />
                                </td>
                                <td>
                                    <img :src="group.firstItem.ImageUrl" alt="圖片" style="max-width: 100px; max-height: 100px;" />
                                </td>
                                <td class="align-middle text-center">{{ group.firstItem.Name }}</td>
                                <td class="align-middle text-center">{{ group.firstItem.Description }}</td>
                                <td class="align-middle text-center">{{ group.firstItem.Date }}</td>
                                <td class="align-middle text-center" style="font-weight: bold; color: lightseagreen;">
                                    <span>$</span>{{ group.price }}
                                </td>
                                <td class="align-middle text-center">
                                    {{ group.quantity }}
                                </td>
                            </tr>
                            <tr v-for="accommodation in accommodations" :key="accommodation.Id">
                                <td>
                                    <input type="checkbox" v-model="accommodation.selected" />
                                </td>
                                <td>
                                    <img :src="accommodation.ImageUrl" alt="圖片" style="max-width: 100px; max-height: 100px;" />
                                </td>
                                <td class="align-middle text-center">{{ accommodation.AccommodationName }}</td>
                                <td class="align-middle text-center">{{ accommodation.RoomName }} {{ accommodation.RoomTypeName }}</td>
                                <td class="align-middle text-center">{{ accommodation.Date }}</td>
                                <td class="align-middle text-center" style="font-weight: bold; color: lightseagreen;">
                                    ${{ accommodation.Price }}
                                </td>
                                <td class="align-middle text-center">{{ accommodation.Quantity }}</td>
                            </tr>
                            <tr v-for="group in groupedActivities" :key="group.key.Id">
                                <td>
                                    <input type="checkbox" v-model="group.selected" />
                                </td>
                                <td>
                                    <img :src="group.firstItem.ImageUrl" alt="圖片" style="max-width: 100px; max-height: 100px;" />
                                </td>
                                <td class="align-middle text-center">{{ group.firstItem.ActivityName }}</td>
                                <td class="align-middle text-center">{{ group.firstItem.Description }}</td>
                                <td class="align-middle text-center">{{ group.firstItem.StartTime }} ~ {{ group.firstItem.EndTime }}</td>
                                <td class="align-middle text-center" style="font-weight: bold; color: lightseagreen;">
                                    ${{ group.price }}
                                </td>
                                <td class="align-middle text-center">
                                    {{ group.quantity }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-secondary" @@click="checkout">
                            <i class="fas fa-shopping-cart"></i>前往結帳 (總價：${{ totalPrice }})
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    let baseAddress = "https://localhost:7251";
    let vueApp = {
        data() {
            return {
              
                selectAll: false,
                items: [],
           
            };
        },
        computed: {
            totalPrice() {
                return this.items.reduce((total, item) => {
                    return total + (item.selected ? item.price * item.quantity : 0);
                }, 0);
            },
        },
        mounted: function () {
            axios.get(baseAddress + '/Index')
                .then(response => {
                    // Parse the response and assign the data
                });
        },
        methods: {
            toggleAll() {
                this.items.forEach((item) => (item.selected = this.selectAll));
            },
            checkout() {
                console.log('Proceeding to checkout with total price:', this.totalPrice);
            },
        }
    };

    let app = Vue.createApp(vueApp).mount('#app');
</script>

<template>
    <div id="app">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th class="align-middle text-center">名稱</th>
                    <th class="align-middle text-center">描述</th>
                    <th class="align-middle text-center">日期</th>
                    <th class="align-middle text-center">價格</th>
                    <th class="align-middle text-center">數量</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="group in groupedExtraServices" :key="group.key.Id">
                    <td>
                        <img :src="group.firstItem.ImageUrl" alt="圖片" style="max-width: 100px; max-height: 100px;" />
                    </td>
                    <td class="align-middle text-center">{{ group.firstItem.Name }}</td>
                    <td class="align-middle text-center">{{ group.firstItem.Description }}</td>
                    <td class="align-middle text-center">{{ group.firstItem.Date }}</td>
                    <td class="align-middle text-center" style="font-weight: bold; color: lightseagreen;">
                        ${{ group.price }}
                    </td>
                    <td class="align-middle text-center">
                        {{ group.quantity }}
                    </td>
                </tr>
                <tr v-for="group in groupaccommodations" :key="group.key.Id">
                    <td><img :src="group.firstItem.ImageUrl" alt="圖片" style="max-width: 100px; max-height: 100px;" /></td>
                    <td class="align-middle text-center">{{ group.firstItem.AccommodationName }}</td>
                  
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-right">總計</td>
                    <td>${{ totalPrice }}</td>
                </tr>
            </tfoot>
        </table>
        <button class="btn btn-outline-secondary" @@click="checkout">
            <i class="fas fa-shopping-cart"></i>前往結帳
        </button>
    </div>
</template>


@section Scripts{
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script>
        let baseAddress = "https://localhost:7251"
        let vueApp={
            data(){
              return{
                    extraServices: [],
                    accommodations: [], 
                    activities: [], 
              };
            
            },
            mounted: function(){

            },
            methods:{
            
            
            },

            let app = Vue.createApp(vueApp).mount('#app');
        }
    </script>


}